.not-fond {
  &-section {
    @include breakpoint('mobile') {
      padding-top: 40px;
    }
    @include breakpoint('tablet') {
      padding: 80px 0 70px;
    }
    @include breakpoint('desktop') {      
      padding: 188px 0 108px;
    }
  }

  &-layout {
    display: flex;
    @include breakpoint('desktop-down') {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @include breakpoint('desktop') {
      align-items: center;
      justify-content: space-between;
    }

    &__txt {
      @include breakpoint('mobile') {
        width: 100%;
      }
      h1 {
        @include breakpoint('mobile') {
          font-size: 24px;
          line-height: 32px;
        }
        @include breakpoint('tablet-up') {
          font-size: 48px;
          line-height: 64px;
        }
      }

      p {
        margin-top: 24px;
        @include breakpoint('mobile') {
          font-size: 16px;
          line-height: 24px;
          max-width: 230px;
          margin-left: auto;
          margin-right: auto;
        }
        @include breakpoint('tablet-up') {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .btn-primary {
        margin-top: 24px;
        @include breakpoint('tablet-up') {
          width: 213px;
        }
      }
    }
    &__img {
      @include breakpoint('mobile') {
        margin-top: 40px;
      }
      @include breakpoint('tablet') {
        margin-top: 104px;
      }
      img {
        @include breakpoint('tablet-up') {
          width: 512px;
          height: 184px;
        }
      }
    }
  }
}