.challenges {
  &-section {
    background-color: #fff;
    @include breakpoint('mobile') {
      padding: 40px 16px;
      margin: 0 -16px;
    }
    @include breakpoint('tablet-up') {
      padding: 40px;
    }
  }
  &-top {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  &-intro {
    @include breakpoint('mobile') {
      margin-top: 40px;
    }
    @include breakpoint('tablet-up') {
      margin-top: 80px;
    }

    h1 {
      font-weight: 600;
      @include breakpoint('mobile') {
        font-size: 24px;
        line-height: 32px;
      }
      @include breakpoint('tablet-up') {
        font-size: 48px;
        line-height: 64px;
      }
    }
    p {
      margin-top: 24px;

      @include breakpoint('desktop') {
        max-width: 688px;
      }
    }
  }
  &-content {
    @include breakpoint('mobile') {
      margin-top: 40px;
    }
    @include breakpoint('tablet-up') {
      margin-top: 80px;
    }
    
    &__title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }
  }
  &-list {
    margin-top: 40px;
    display: flex;

    @include breakpoint('mobile') {
      padding-left: 16px;
    }
    @include breakpoint('tablet-up') {
      padding-left: 40px;
    }

    &-wrap {
      overflow: hidden;
      cursor: -webkit-grab;
      cursor: grab;

      @include breakpoint('mobile') {
        margin: 0 -16px;
      }
      @include breakpoint('tablet-up') {
        margin: 0 -40px;
      }
    }
  }
  &-item {
    border: 1px solid $color-border-dark;
    border-radius: $border-radius;  
    height: 100%;
    display: flex;
    flex-direction: column; 

    @include breakpoint('mobile') {
      width: 256px;
      margin-right: 24px;
    }
    @include breakpoint('tablet-up') {
      width: 320px;
      margin-right: 40px;
    }

    &__img {
      overflow: hidden;
      border-radius: $border-radius $border-radius 0 0;
      width: 100%;

      @include breakpoint('mobile') {
        height: 240px;
        min-height: 240px;
      }
      @include breakpoint('tablet-up') {
        height: 278px;
        min-height: 278px;
      }
      
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
    }

    &-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      @include breakpoint('mobile') {
        padding: 16px 15px 15px;
      }
      @include breakpoint('tablet-up') {
        padding: 24px;
      }
    }

    &__date {
      font-size: 14px;
      line-height: 21px;
      color: #666;
    }

    &__name {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      margin-top: 8px;
      height: 64px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; 
    }

    &-timer {
      margin-top: 24px;
      display: flex;

      &__col {
        display: flex;
        flex-direction: column;

        &:not(:last-child) .challenges-item-timer__value {
          padding-right: 24px;
          min-width: 50px;
          background: url(../img/icons/countdown-divider.svg) no-repeat transparent right center;
        }
      }

      &__value {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
      }

      &__label {
        font-size: 14px;
        line-height: 16px;
        color: $color-light;
      }
    }

    &__link {
      margin-top: auto;
      padding-top: 24px;
      
      a {
        width: 100%;        
      }
    }
  }
  &-empty {
    margin-top: 40px;
    @include breakpoint('mobile') {
      padding: 104px 0 64px;
    }
    @include breakpoint('tablet') {
      padding: 164px 0 124px;
    }
    @include breakpoint('desktop') {
      padding: 128px 0 88px;
    }

    p {
      color: $color-light;
      text-align: center;
      margin: 0 auto;

      @include breakpoint('mobile') {
        max-width: 288px;
      }
      @include breakpoint('tablet-up') {
        max-width: 344px;
      }
    }
  }
}